/*Pour démarrer on a lié cette feuille de style à nos deux pages*/
* {
    font-family: 'Piazzolla', sans-serif;
}


/*Voyons ici nos balises*/
#prefecture_map_position {
    object-position: 50% 50%;
    background-color: blue;
    border: red 5px solid;
    margin:100px;
}


h1 {
    font-size: 3em;
    background-image: url("../images/images_sake/istockphoto.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px;
    margin: 20px;
    text-align: center;
}


h2 {
    font-size: 1.2em;
    
}

p, ul {
    color: royalblue;
    font-size: 1.2em;
    margin: 20px;
    size-adjust: l;
}

a {
    color: royalblue;
    font-size: 1.2em;
}


li {
    color: royalblue;
    font-size: 1em;
}

option, textarea {
    margin: 10px;
    color: royalblue;
    font-size: 1.2em;
}

/* Tableau */
td {
    border: 1px solid black;
    padding: 15px;
    width: 200px;
}

th {
    background-color: rgb(46, 110, 44);
    padding: 15px;
    width: 200px;
}

table {
    text-align: center;
    border-collapse: collapse;
    margin-inline: 10px;
}

caption {
    font-size: 1.2em;
    font-weight: bold;
}

/* Partie dédiée aux classes*/
.prefectures_map {
    display: block;
    margin: auto;
    width: 10%;
    height : 30%;
}

.brasseries_table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.paragraph_experience {
    background-color: rgb(153, 148, 148);
    color: aliceblue;
    width : fit-content;
    margin: 20px;
}

a:hover {
    color: blue;
    background-color: lightblue ;
}


/* On s'attaque au conteneurs */


.conteneur_navigation {
display: flex;
flex-direction: row;
justify-content: space-around;
background-color: darkblue;
color: blanchedalmond;
border-radius: 30px;
margin: 20px;
height: 60px;
align-items: center;
}

.conteneur_section {
    display : grid;
    grid-template-columns: 1fr 1fr;

}

.one {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(153, 148, 148);
    color: aliceblue;
    width : fit-content;
    margin: 20px;
}

.two {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.three {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;

}

.four{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    margin: 20px;
}

.conteneur_link_color {
    background-color: darkblue;
    color: blanchedalmond;
 
}

.conteneur_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: darkblue;
    color: blanchedalmond;
    border-radius: 30px;
    margin: 20px;
    font-size: 1.2em;
    height: 60px;
    align-content: center;
}

.footer_link_color {
    background-color: darkblue;
    color: blanchedalmond;
}

.position_image {
    margin: 20px;
    width: 250px;
    height: 250px;
}

.position_lien {
    color: royalblue;
    font-size: 1.2em;
    margin: 20px;
}

.accueil_photos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;

  }

/* gestion des id*/

